.about{
    /* background:  linear-gradient(to right bottom,#ebf5fc, #7ed6df, #32a3b1); */
    background-image: url('../../Images/About-bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.about .head h1{
    color: #2d3436;
}
.about h3, .about h4{
    /* color: green; */
}
.about ul{
    list-style-type: none;
}
.about ul li{
    display: inline;
    margin: 0 20px;
}
.about .btn{
    min-width: 120px;
}
.about .me{
    border-radius:50%;
    width: 100%;
    max-width: 290px;
    border: 7px solid white;
}
.about .brandIcons li{
    font-size: 30px;
}
.about .brandIcons a{
    color: black;
}