.contact, footer{
    background-image: url('../../Images/About-bg3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.contact input,
.contact textarea{
    border: none;
    outline: none;
    margin: 10px 0px; 
    padding: 10px;
    border-radius: 2px;
    border: 1px solid white;
    color: white;
    background: rgba(255,255,255,0.05);
}
.contact input{
    height: 70px;
}
.contact input[type="submit"]{
    background: white;
    color: black;
    border: none;
    outline: none;
    border-radius:2px;
    width: 150px;
    height: 50px;
}
footer{
    padding:10px 0;
    color: white;
    font-weight:600;
}
.contact .side-panel{
    border: 1px solid white;
    border-radius: 2px;
    margin: 0 !important;
}
.contact .logo{
    color: white;
    width: 60px;
    padding: 17px 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin-left: auto !important;
    margin-right: auto !important;
    transition: 0.3s;
    transform: scale(1.1); 
}
.contact .logo:hover{
    background: white;
    color: #2f3542;
}
.contact .info{
    color: white;
    margin-top: 5px;
    font-size: 18px;
    text-align: center;
}
.contact li{
    display: inline;
    text-align: center;
    margin: 0 20px;
    font-size:30px;
}
.contact li a{
    color: white;
}