.navbar{
    background: linear-gradient(to right bottom, #636e72 15%, #2d3436 70%, #636e72 15%);
}
.navbar h3{
    font-family: 'Comic Neue', cursive;
    font-style: italic;
    font-size: 28px;
    font-weight: 600;
    color: white !important;
}
.navbar li{
    padding:5px 20px;
    border-radius:5px;
    font-size: 18px;
    color: white;
}
.navbar li:hover{
    background: linear-gradient(to right bottom, #2d3436 80%, #636e72 20%);
    box-shadow: 1px 1px 2px #000, 1px -1px 2px #000;
}