.navbar{
    background: linear-gradient(to right bottom, #636e72 15%, #2d3436 70%, #636e72 15%);
    height: 10vh !important;
}
.navbar .nav-item{
    cursor: pointer;
}
.navbar h3{
    font-family: 'Comic Neue', cursive;
    font-style: italic;
    font-size: 28px;
    font-weight: 600;
    color: white !important;
}
.navbar li{
    padding:5px 20px;
    border-radius:5px;
    font-size: 18px;
    color: white;
}
.navbar li:hover{
    background: linear-gradient(to right bottom, #2d3436 80%, #636e72 20%);
    box-shadow: 1px 1px 2px #000, 1px -1px 2px #000;
}
.navbar-collapse{
    background: linear-gradient(to right bottom, #636e72, #2d3436, #636e72);
    border-radius: 0 0 7px 7px;
    padding: 0 10px;
    z-index: 1111;
}


.holder{
    height: 90vh !important;
    z-index: -1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 89vh; 
    min-height: 680px;
    background: linear-gradient(to right bottom, #636e72 20%, #2d3436 80%);
}
.holder .item2{
    position: absolute;
    float: left;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}
.holder .img{
    height: 100%;
    width: 50%;
    min-width: 330px;
}

.holder .contain .text{
    text-align: center;
    color: white;
    white-space: pre;
}
.holder .contain .text label{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

@media only screen and (max-width: 500px) {
    label.logo{padding: 0 0 0 70px;}
}
@media only screen and (min-width: 500px) {
}
@media only screen and (min-width: 545px) {
    .holder .item2{width: 70%;}
}

@media only screen and (min-width: 650px) {
    .holder .contain .text label{font-size: 50px;}
}

@media only screen and (min-width: 770px) {
    .holder .contain .text{white-space: normal;} 
}

@media only screen and (min-width: 825px) {
    .holder .item2{position: relative; width: 60%;}
}

@media only screen and (min-width: 992px) {
    .navbar-collapse{background: transparent;}
}